body{
    font: normal 15px Arial;
}

.descricao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descricao_texto{
    margin: 0%;
    font-size: 12px;
    text-align: justify;
    margin-bottom: 20px;
}

.descricao_titulo {
    font-weight: 750;
    font-size: 10px;
}

img {
    width: 10vw;
}

#lista_icones {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.preco {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 10vw;
}

.preco_texto {
    font-weight: 750;
    font-size: 10px;
}

.preco_valor {
    font-size: 10px;
}

.retangulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 15vw;
    border-radius: 10px;
    margin: 15px;
}

#sessao-venda{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.titulo{
    font-weight: 900;
}






